.sideBarWrapper {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 140px;
    background: #272D3E;
}
.sideBar {
    margin: 0;
    padding: 0;
    display: block;
    font-family: serif;
    font-weight: 700;
    line-height: 1.1;
    font-size: 22px;
}
.sideBarItem { 
    list-style-type: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}
.sideBarItem.selected { 
    background: #1F2430;
}
.sideBarItem a { 
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
.sideBarItem .icon {
    width: 17px;
    height: 17px;
    margin: 0 30px;
}
.sideBarItem:hover { 
    cursor: pointer;
}
