.addUserWrapper {
    width: 1141px;
    height: 611px;
}

.input {
    margin-bottom: 20px;
}

.actionsContainer .button {
    margin: 0 20px;
}

.actionsContainer .button a {
    color: #fff;
    text-decoration: none;
}